@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 17 24 39;
  --background: 248 250 252;
  --muted: 100 116 139;
  --border: 226 232 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 248 250 252;
    --background: 15 23 42;
    --muted: 148 163 184;
    --border: 30 41 59;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
